.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#pokemonsList{
  text-align: left;
}

#pokemon{
  margin-bottom: 10px;
  margin-top: 10px;
}

.pokemonName{
  display: inline-block;
  width: 500px;
  margin-left: 10px;
  margin-right: 10px
}

.pokemonType{
  margin-left: 10px;
  margin-right: 10px
}

.pikachuTheme{
  color: yellow;
}

.smallPokemonImage{
  vertical-align: middle;
}

.title{
  margin-top: 0;
}

.bigPokemonImage{
  width: 40%;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
}

.pokemonDetailsLink{
  padding-top: 10px;
  padding-bottom: 10px;
}

.paginationButtons{
  display: inline;
  margin: 0px 10px 10px 10px;
  background-color: gray;
  border-color: yellow;
  border-radius: 25px;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.pokemonsListPage{
  background-color: #282c34;
}

.pokemonDetails{
  text-align: left;
  max-width: 50%;
}

.pokemonDetails div{
  margin-top: 0;
  margin-bottom: 10px;
}

.pokemonDetails div ul{
  margin: 0;
  margin-left: 15px;;
}

.pokemonDetails div ul li{
  margin-bottom: 15px;
}

.detailsColor{
  font-weight: bold;
  color:lightgreen
}

.evolutionsList{
  margin-bottom: 15px;
}

.titleImage{
  text-align: center;
}